/* reset */

html, head, body, h1, h2, h3, p {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	}

/*css .grid-container  */
.grid-container {
display: grid;
grid-template-areas:
  'header header header header header header'
  'menu main main main main main'
  'menu main main main main main'
  'menu main main main main main'
  'menu main main main main main'
  'menu output output output output output'
  'menu output output output output output'
  'menu input input input input input'
  'menu input input input input input'
  'footer footer footer footer footer footer';
grid-gap: 10px;
background-color: #2196F3;
padding: 10px;
}

/* css grid item */

.header { grid-area: header; }
.menu { grid-area: menu; }
.main { grid-area: main; }
.consoleOut { grid-area: output; }
.consoleIn {grid-area: input;}
.footer { grid-area: footer; }

   